.hidden {
  display: none;
}

label {
  margin-bottom: 10px;
  display: block;
}

.navbar {
  min-height: 115px;
}

.drop-zone {
  border: 1px dashed #007bff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.drop-zone.dragover {
  background-color: lightgrey;
}

.success{
  color: white;
  background-color: green;
}